.mainBox{
    display: flex;
    height: 90vh;
 
}



.recievedCoin{

background-color: rgb(29, 28, 28);





overflow:scroll;

padding: 1rem;



scrollbar-width: none;


}




.sentMessage{
 
   

    
    margin-top: .6rem;
    border-radius: 1rem;
    text-align: start;

display: flex;

    justify-content: end;


  
   
}


.sentMessage p{
    background-color: purple;
    padding: .5rem;
  
    width: fit-content;
    min-width: 4rem;
    max-width: 20rem;
    height: auto;
   word-wrap: break-word;
  
   color: white;
   line-height: 1.5;
   border-radius: 1rem;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;








}

.recievedMessage{
  
    font-weight: 700;
    width: fit-content;

  
    color: rgb(249, 244, 244);
  
}

.recievedMessage p{
    background-color: rgb(63, 238, 10);
    padding: .5rem;
  
    width: fit-content;
    min-width: 4rem;
    max-width: 20rem;
    height: auto;
   word-wrap: break-word;
  
   color: white;
   line-height: 1.5;
   border-radius: 1rem;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;




    
}



.messageInput{
  position: fixed;
bottom: 1rem;
 
  height: 8vh;

  width: 100vw;

}

.messageInput button{
    background-color: purple;
    width: auto !important;
    min-width: 5rem;
}


.time{
    font-size: .6rem;
    color: white;
    font-weight: 700;
 margin-top: -1rem;
 margin-left: .5rem;
}


.messageInput input{
    background-color: rgb(211, 211, 226);
    color: purple;
    border: 2px solid violet;
    box-shadow: 10px solid gray;
    width: 40vw;
}
